Задача 1

Даны значения зарплат из выборки выпускников:

100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 230, 24, 57, 55, 70, 75, 65, 84, 90, 150

Используя только встроенные питоновские функции и структуры данных (т.е. без библиотек numpy, pandas и др.) посчитать среднее арифметическое, смещённую и несмещённую оценки дисперсии, среднее квадратичное отклонение для данной выборки.

In [1]:
lst = [100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 230, 24, 57, 55, 70, 75, 65, 84, 90, 150]

In [2]:
mean = sum(lst)/len(lst)

In [3]:
squared_lst = [(i - mean)**2 for i in lst]

In [4]:
sigma = sum(squared_lst)/len(squared_lst)

In [5]:
sigma_u = sum(squared_lst)/(len(squared_lst) - 1)

In [6]:
import math
dev = math.sqrt(sigma_u)

In [7]:
print('среднее арифметическое равно = ' + str(mean))
print('смещенная оценка дисперсии = ' + str(sigma))
print('несмещенная оценка дисперсии = ' + str(sigma_u)) 
print('среднее квадратичное отклонение = ' + str(dev))

среднее арифметическое равно = 73.14285714285714
смещенная оценка дисперсии = 2135.074829931973
несмещенная оценка дисперсии = 2241.8285714285716
среднее квадратичное отклонение = 47.34795213553139

In [8]:
import pandas as pd
df = pd.DataFrame(lst)
print('среднее арифметическое равно = ' + str(df.mean()))
print('смещенная оценка дисперсии = ' + str(df.var(ddof=0)))
print('несмещенная оценка дисперсии = ' + str(df.var(ddof=1)))
print('среднее квадратичное отклонение = ' + str((df.std(ddof=1))))

среднее арифметическое равно = 0    73.142857
dtype: float64
смещенная оценка дисперсии = 0    2135.07483
dtype: float64
несмещенная оценка дисперсии = 0    2241.828571
dtype: float64
среднее квадратичное отклонение = 0    47.347952
dtype: float64

Задача 2

Для выборки из задачи 1 найти (также без использования библиотек):
1. медиану, первый и третий квартили, интерквартильное расстояние,
2. выборсы в выборке (используя для этого метод как при построении "усов" из boxplot).

Возможные неоднозначности в вычислении квантилей можно разрешать любым способом.

In [9]:
lst.sort()
print(lst)
print('Медиана равна ' + str(lst[len(lst) // 2 ]))
q1 = lst[len(lst) // 4 ]
print('Первый квартиль равен ' + str(q1))
q3 = lst[3*len(lst) // 4 ]
print('Третий квартиль равен ' + str(q3))
print(f'Межквартильный размах [{q1}, {q3}] ')

[17, 24, 25, 30, 33, 45, 55, 57, 65, 65, 70, 75, 75, 77, 80, 84, 89, 90, 100, 150, 230]
Медиана равна 70
Первый квартиль равен 45
Третий квартиль равен 84
Межквартильный размах [45, 84]

In [10]:
iqr = q3 - q1
print(iqr)

39

In [11]:
for i in lst:
    if (i > q3 + 1.5*iqr) or (i < q1 - 1.5*iqr):
        print(f'Значение {i} является выбросом')

Значение 150 является выбросом
Значение 230 является выбросом

In [12]:
import pandas as pd
import numpy as np
df = pd.DataFrame(lst)
df.describe()

                0
count   21.000000
mean    73.142857
std     47.347952
min     17.000000
25%     45.000000
50%     70.000000
75%     84.000000
max    230.000000

In [13]:
np.quantile(lst, [0.25, 0.75])

array([45., 84.])

Задача 3

В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a) на факультете A? б) на факультете B? в) на факультете C?

Решение:
a)
Воспользуемся формулой Байеса:
A - студент учится на факультете А
B - студент сдал первую сессию.
P(A|B) = P(B|A) * P(A)/P(B)
P(B|A) = 0.8
P(A) = 0.25
P(B) = 0.8 * 0.25 + 0.7 * 0.25 + 0.9 * 0.5 = 0.825
P(A|B) = 0.8 * 0.25 /0.825 = 0.24

б) аналогично для факультета B:
P(A|B) = 0.7 * 0.25 /0.825 = 0.21

в) аналогично для факультета С:
P(A|B) = 0.9 * 0.5 /0.825 = 0.55